*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    overflow-y: auto;
    overflow-x: hidden;
}

body{
    background-color: $color-negro;
    position: relative;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    .transition{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position:fixed;
        left:0;
        right:0;
        top:0;
        bottom:0;
        z-index: 1;
        background-image: $color-transition;
        animation: slideOutLeft;
        animation-fill-mode: forwards;
        animation-duration: 2s;

    }
    .fondo{
        @extend .transition;
        animation: none;
        z-index: -1;
    }
}

/**Default Styles**/
img{
    max-width:100%;
    border-radius: 5%;
}

/**CAJAS**/
.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    header{
        margin-top: 30px;
        width: 100%;

        img{
            display: flex;
            justify-content: flex-start;
            margin-left: 2%;
            width: 80px;
            transition: all 0.5s;

            &:hover{
                transform: rotate3d(1, 1, 1, 45deg);
            }
        }

        .nav-boton{
            background-color: $color-blanco;
            margin-right: 30px;
            transition: all .3s;

            &:active{
                transform: rotate3d(1, 1, 1, 30deg)                
            }
        }
        
        .nav-abierto{
            margin-right: 30px;
        }
        
        nav{
            margin-top: 40px;
            width: 100%;

            ul{
                width: 100%;
                display: flex;
                justify-content: flex-end;

                a{
                background-color: $color-blanco;
                text-decoration: none;
                color: $color-negro;
                padding: .25em .5em;
                border-radius: 15%;
                transition: all 0.5s;
                margin: 0em .4em ;
                
                &:hover{
                    background-color: $color-violeta;
                    transition: all 0.5s ease;
                }
                }

                .actual{
                    background-color: $color-violeta;
                    color: $color-blanco;
                }
            }
        }
    }

    .index-contenedor{
        margin-top: 14em;
        margin-bottom: 8.5em;
    }

    footer{
        width: 100%;
        margin-top: 10%;
        margin-bottom: 1.5em;
        padding: 1%;
        bottom: 1.5em;
        display: flex;
        justify-content: center;

        .contacto{
            letter-spacing: 1.3em;
        }

        a img{
            display: inline;
            width: 30px;
        }
    }

    #bio{
        h1{
            @include titulos (2%,2%,$sombra-titulo);
        }

        section{
            display: flex;
            justify-content: center;
            text-align: center;
            background-color: $color-negro;
            opacity: 0.8;
            padding: .7em;
            margin-left: 20%;
            margin-right: 20%;
            margin-bottom: 2em;
            gap: 1.5em;
            transition: all 0.5s ease;         
        }

        .section-bio:hover{
            box-shadow: $sombra-caja;
        }

        .texto-bio{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: justify;
            padding-top: 1em;
            margin-right: 1.5em;
        }
        .a-bio{
            font-size: 1.5em;
            display: flex;
            gap: 1.5em;
        }
        
        .a-bio .cv{
            font-size: .8em;
            font-weight: 600;
            color:$color-negro;
            background-color: $color-blanco;
            text-decoration: none;
            padding: .1em .2em;
            border-radius: 10%;
        }
        
        .img-bio{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1em;
        }

        img{
            aspect-ratio: 1/1;
            
        }
        
        .fotopersonal{
            width: 20em;
            height: 14em;
        }

        ul{
            color: $color-blanco;
            font-weight: 100;
            line-height: 1.5em;
            list-style: none;
            text-align: left;

            li{
                padding-bottom: 1.5em;
                padding-right: 2em;

                spam{
                    color: $color-spam;
                    font-weight: 200;
                    padding-left: 0;
                }
            }
        }
    }

    #servicios{
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10%;
        max-width: 80%;

        h1{
            @include titulos (0,3%,$sombra-titulo);
        }

        #servicio_pcipal{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background-color: $color-negro;
            box-shadow: $sombra-caja;
            opacity: 0.8;
            padding: .7em 0 1.5em 0;
        }
        
        #servicio_pcipal .texto p{
            text-align: justify;
            width: 65%;
            padding: 1%;
            margin: 0 0 2% 17%;
        }
        
        #servicio_pcipal img{
           margin-left: auto;
           margin-right: auto;
           width: 60%;
           aspect-ratio: 16/9;
           object-fit: cover;
        }
        
        .ambitos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 5%;
        }
        
        .ambitos-tit{
            text-align: center;
            margin: 2% 0 2% 0;
            color: $color-spam2;
            background-color: $color-negro;
            margin-bottom: 2%;
            opacity: .9;        
        }
        
        .cartas-ambito{
            margin-top: 2.5%;
            gap: .5em;
        }
        .cartas-ambito .carta{
            background-color: $color-negro;
            transition: all 0.5s ease;

            &:hover{
                opacity: .5;
            }
        }
        
        .carta img{
            text-align: center;
            width: 50px;
            margin-left: 5%;
        }
        
        .carta h5{
            @extend .ambitos-tit;
            font-weight: 200;
            margin-bottom: 0;
        }
        
        .ambitos p{
            margin-top: .5em;
            font-size: .9em;
            font-weight: 100;
            text-align: justify;
        }
    }

    #portfolio{
        width: 90%;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        
        h1{
            @include titulos (0,3%,$sombra-titulo);
        }
        
        .proyecto{
            margin-left: 10%;
            max-width: 85%;
            background-color: $color-negro;
            opacity: 0.8;
        }
    
        .tit-proy{
            color: $color-blanco;
        }
    
        .texto-proy{
            color: $color-blanco-carta;
            font-weight: 100;
        }
    }

    #contacto{
        h1{
            @include titulos (0,3%,$sombra-titulo);
        }

        #formulario{
            display: flex;
            justify-content: center;
            text-align: center;

            form{
                width: 40%;
                display: flex;
                flex-direction: column;
                margin-top: 2%;
                margin-left: auto;
                margin-right: auto;
                background-color: $color-negro;
                box-shadow: $sombra-caja;
                opacity: 0.8;
                padding: .7em;
            }

            label{
                font-size: 1.1em;
                color: $color-blanco;
                margin-right: 1em;
            }

            .comentario{
                text-align: start;
                text-align: center;
            }

            textarea{
                width: 70%;
            }

            input, textarea{
                font-size: 1.1em;
            }
        }
    }
}

/**Media Query**/
@media screen and (max-width: 991px){
.navbar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

#bio section{
    width: 60%;
    flex-direction: column;

    img{
        margin-top: 1em;
    }

    p{
        text-align: left;
    }
}

#servicios{
    #servicio_pcipal{
        margin-bottom: 3em;
    }
}
}
